# Node
node_modules/
.env
.env.local
.env.development
.env.production
.env*.local

# Builds
build/
dist/

# OS
.DS_Store

# Logs
npm-debug.log*

# env
backend/.env
backend/.env.local
backend/.env.development
backend/.env.production
backend/.env*.local

frontend/.env
frontend/.env.local
frontend/.env.development
frontend/.env.production
frontend/.env*.local

backend/test-db.js



# Large / external assets (temporary)
# frontend/src/assets/
# frontend/public/assets/
# frontend/public/media/
# frontend/public/images/
# *.mp4
# *.pdf
# *.tif
# *.tiff
