# Node
node_modules/
.env

# Builds
build/
dist/

# OS
.DS_Store

# Logs
npm-debug.log*

# env
backend/.env
backend/test-db.js



# Large / external assets (temporary)
# frontend/src/assets/
# frontend/public/assets/
# frontend/public/media/
# frontend/public/images/
# *.mp4
# *.pdf
# *.tif
# *.tiff
