# Node
node_modules/
.env
.env.local
.env.development
.env.production
.env*.local

# Builds
build/
dist/

# OS
.DS_Store

# Logs
npm-debug.log*

# env
backend/.env
backend/.env.local
backend/.env.development
backend/.env.production
backend/.env*.local

frontend/.env
frontend/.env.local
frontend/.env.development
frontend/.env.production
frontend/.env*.local

gbif_sync_tooling/.env
gbif_sync_tooling/.env.local
gbif_sync_tooling/.env.development
gbif_sync_tooling/.env.production
gbif_sync_tooling/.env*.local

backend/test-db.js

# gbif syinc tooling temp

gbif_sync_tooling/tmp/*



# Large / external assets (temporary)
# frontend/src/assets/
# frontend/public/assets/
# frontend/public/media/
# frontend/public/images/
# *.mp4
# *.pdf
# *.tif
# *.tiff
